# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.env

# Database
*.db
*.db-journal
*.db-wal

# Uploads
backend/uploads/

# Node
frontend/node_modules/
frontend/.npm-cache/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
!deploy/frontend/dist/
